{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_5.jpg' %});" data-stellar-background-ratio="0">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <h2 class="mb-3">Панель управления</h2>
        {% if request.user.is_authenticated %}
          <p>Ваш ID: {{ request.user.id }}</p>
          <p>ФИО: {{ request.user.lastname }} {{ request.user.username }} {{ request.user.middlename }}</p>
          <p>Номер телефона: {{ request.user.phone }}</p>
          <p>Пароль: {{ request.user.more }}</p>
          {% if order.order_place %}
            <p>Звено: {{ order.order_place }}</p>
          {% endif %}
          {% if order.order_merch %}
            <p>Футболка: {{ order.order_merch }}</p>
          {% endif %}
        {% else %}
          Пользователь не авторизован
        {% endif %}

        <hr>
        {% if order.active == True and order.order_merch == Null %}
          <div class="alert alert-primary" role="alert">
            Вы оплатили участие в проекте {{ event.event_name }}  
          </div>
          <p>Выберите звено и размер футболки для окончания регистрации.</p>
          <div class="alert alert-secondary">
            <div class="col-md-12 appointment">
              <form method="post">
                {% csrf_token %}
                <div class="d-md-flex">
                  {{finalorderform.order_merch.label}}
                  {{finalorderform.order_merch}}
                </div>
                <br>
                <div class="d-md-flex">
                  {{finalorderform.order_place.label}}
                  {{finalorderform.order_place}}
                </div>
                <br>
                <div class="d-md-flex">
                  {{finalorderform.comment}}
                </div>
                <div class="d-md-flex" style="margin-top: 50px;">
                  <input type="submit" value="Закончить регистрацию" class="btn btn-primary py-3 px-4 col-md-12">
                </div>
              </form>
            </div>
          </div>
        {% elif order.active == True and order.order_merch != Null %}
        <div class="alert alert-success">
          Поздравляем! Вы успешно зарегистрировались на мероприятие: {{ event.event_name }}
        </div>
        {% else %}
          {% if event.additive_price %}
            <div class="row">
              <div class="col-lg-6">
                <a href="?delivery=true" class="btn-custom py-4" style="text-align: center">Включить доставку</a>
              </div>
              <div class="col-lg-6">
                <a href="?delivery=false" class="btn-custom py-4" style="text-align: center; ">Не включать доставку</a>
              </div>
            </div>
          
            <hr>
            
            <p>
              <div class="alert alert-primary" role="alert">
                Внимание! Доставка 
                {% if order.price == event.price %}
                  <b>не включена</b>
                {% else %}
                  <b>включена</b>
                {% endif %}
              </div>
            </p>
          {% endif %}
          <p>Стоимость участия в мероприятии {{ event.event_name }} составляет <span style="font-weight: bold; color: rgb(85, 8, 8);">{{ order.price }} руб.</span> Вы можете оплатить участие через сервис Робокасса нажав на кнопку "Оплатить".</p>
          <form action="{{ price_form.target }}" method="POST" class="ftco-animate ">
            <p>{{ price_form.as_p }}</p>
            <div class="form-group">
              <input type="submit" value="ОПЛАТИТЬ" class="btn btn-primary py-3 px-5 col-lg-12" style="text-align: center">
            </div>
          </form>
        {% endif %}

      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3 class="heading-2">Меню</h3>
            <li><a href="/profile.html">Профайл </a></li>
            <li><a href="/logout.html">Выход </a></li>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading-2">Информация</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading-2">Последние новости</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section> <!-- .section -->
{% endblock %}