{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_4.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-3 bread">О проекте</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ftco-animate">
        <h2 class="mb-3 mt-5">Об открытом велопробеге "Дорога Минина"</h2>
        <p>Открытый велопробег &laquo;Дорога Минина&raquo; проводится в Нижегородской области с 2006 года в формате мероприятий, посвященных Дню памяти гражданина Минина (21 мая). До 2018 года маршрут велопробега проходил по пути первого этапа движения Нижегородского ополчения 1612 года: Нижний Новгород &ndash; Балахна. Общая протяженность маршрута составляла 63 километра.</p>
        <p>С 2018 года в связи с большой загруженностью автомобильной дороги Р152 на участке &laquo;Нижний Новгород &ndash; Балахна&raquo; и возросшей общественной потребностью в развитии внутреннего познавательного туризма с использованием различных форм активного отдыха формат проведения велопробега изменился: участники велопробега на электропоезде доставляются из Нижнего Новгорода до определенной ж/д станции, и далее в составе велоколонны следуют по дорогам регионального и местного значения до знакового места Нижегородской области, где проводятся познавательные и памятные мероприятия.</p>
          <img src="{% static 'images/works/05.jpg' %}" alt="" class="img-fluid" align="right">
        </p>
        <h2 class="mb-3 mt-5">{{ title }}</h2>
        <p>26 июня 2020 года состоится XV Открытый велопробег «Дорога Минина», организованный Нижегородским региональным отделением ВОО «Русское географическое общество» в партнерстве с Нижегородской региональной историко-культурной общественной организацией «Петровский союз», АНО «Велоклуб-НН» при поддержке Правительства Нижегородской области. Велопробег приурочен к 350-летию со дня рождения императора Петра Великого и 75-летию образования Нижегородского регионального отделения ВОО «Русское географическое общество». Проведение велопробега поддержали Общественная палата Нижегородской области, Нижегородское областное объединение организаций профсоюзов «Облсовпроф», Нижегородская Ассоциация промышленников и предпринимателей.</p>
        <p>Генеральный партнер велопробега – Компания «ЛУКОЙЛ».</p>
        <p>Партнер велопробега – ВОО «Русское географическое общество».</p>
        <p>По преданию 30 мая (12 июня н.с.) 1722 года в Нижнем Новгороде в день своего 50-летия император Петр Великий у могилы Кузьмы Минина поклонился до земли и сказал: «Вот истинный спаситель Отечества!», установив историческую традицию поклонения памяти гражданина Минина первыми лицами Российского государства. Патриотический поступок царя-реформатора положил начало всенародному почитанию памяти первого гражданина России.  Участники велопробега в посетят мужской монастырь Свято-Успенская Флорищева пустынь, где познакомятся с возрожденным памятником архитектуры федерального значения и с жизнью обители, в которой в 1714 году боярин князь Борис Голицын, воспитатель юного Петра Великого («дядька царя») и его верный сподвижник, принял монашеский постриг с именем Боголеп, здесь же скончался и был погребен. Для широкой общественности будет открыто новое «место памяти», связывающее Нижегородскую область с личностью императора Петра Великого.</p>
        <p>Участие в велопробеге – это не только дань памяти национальным героям, демонстрация приверженности спортивному образу жизни, но и возможность расширить познания в истории Отечества, и стать участником благотворительного проекта. По благословению митрополита Нижегородского и Арзамасского Георгия велопробег получил статус благотворительного. Средства в размере 10% от организационного взноса (за вычетом налоговых и технических платежей) пойдут на реставрацию и благоустройство Свято-Успенской Флорищевой пустыни.</p>
        <p>Участники велопробега на станции Нижний Новгород (Московский вокзал) сядут в электропоезд, доедут до платформы Ильиногорская, далее на велосипедах поедут до рабочего поселка Фролищи, посетят монастырь и вернутся на платформу Ильиногорская, откуда на электропоезде проедут на станцию Нижний Новгород (Московский вокзал). Протяженность веломаршрута составит 70 километров Электропоезд будет арендованы специально для участников велопробега.</p>
        <p>К участию в велопробеге приглашаются все, кто чтит гражданский и воинский подвиг предков, любит кататься на велосипеде и достиг 18-ти лет. При себе иметь: велосипед, медицинский полис, паспорт, сотовый телефон. Желательно наличие велошлема. Велоколонна будет сопровождаться сотрудниками ГИБДД и машинами «Скорой помощи».</p>
        <p>Лицам, пожелавшим принять участие в велопробеге, необходимо ознакомиться с условиями проведения велопробега и пройти электронную регистрацию на сайте https://дорогаминина.рф</p>
        <p><strong>ВНИМАНИЕ!</strong></p>
        <p>В связи с ограниченным количеством мест в электропоездах вводится квота для участия в велопробеге: для физических лиц – 400 мест, для корпоративных команд организаций и предприятий – 200 мест. Велосипедисты, планирующие начать и завершить велопробег на платформе Ильиногорск, регистрируются вне квоты в специальном звене «Ильиногорск».</p>
        
        <!-- <div class="about-author d-flex">
          <div class="bio align-self-md-center mr-5">
            <img src="{% static 'images/org-1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
          </div>
          <div class="desc align-self-md-center">
            <h3>Сергей Малиновский</h3>
            <p>Генеральный директор фонда "Нижегородский Кремль"</p>
          </div>
        </div> -->

      </div> <!-- .col-md-8 -->

    </div>
  </div>
</section> <!-- .section -->

{% include "shared/registration_form.html" %}

{% endblock %}