{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_4.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-3 bread">О проекте</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ftco-animate">
        <h2 class="mb-3">О фонде "Нижегородский Кремль"</h2>
        <img src="{% static 'images/works/01.jpg' %}" alt="" class="img-fluid" align="right">
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <p>
          
        </p>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <h2 class="mb-3 mt-5">О велопробеге "Дорога Минина"</h2>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <p>
          <img src="{% static 'images/works/05.jpg' %}" alt="" class="img-fluid" align="right">
        </p>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        <p>Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. Текст. Сюда нужен текст. </p>
        
        <div class="about-author d-flex">
          <div class="bio align-self-md-center mr-5">
            <img src="{% static 'images/org-1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
          </div>
          <div class="desc align-self-md-center">
            <h3>Сергей Малиновский</h3>
            <p>Генеральный директор фонда "Нижегородский Кремль"</p>
          </div>
        </div>

      </div> <!-- .col-md-8 -->

    </div>
  </div>
</section> <!-- .section -->

{% include "shared/registration_form.html" %}

{% endblock %}