{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_7.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-3 bread">Наш журнал</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Главная</a></span> <span>Блог</span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <div class="row">
          {% for article in page_obj %}
            <div class="col-md-6 ftco-animate">
              <div class="blog-entry justify-content-end">
                <a href="blog-single.html" class="block-20" style="background-image: url('{{ article.article_image.url }}');">
                </a>
                <div class="text p-4 float-right d-block">
                  <div class="meta">
                    <div>{{ article.publish|date:'d.m.Y'}}</div>
                  </div>
                  <h3 class="heading mt-2"><a href="#">{{ article.title }}</a></h3>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                {% endif %}
                <li class="active">
                  <span>
                    {{ page_obj.number }}
                  </span>
                </li>
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3 class="heading-2">Категории</h3>
            <li><a href="#">История <span>(12)</span></a></li>
            <li><a href="#">Новости <span>(22)</span></a></li>
            <li><a href="#">СМИ о нас <span>(37)</span></a></li>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading-2">Информация</h3>
          <p>Приглашаем к сотрудничеству представителей СМИ и блогеров.</p>
        </div>
      </div>

    </div>
  </div>
</section> <!-- .section -->
{% endblock %}