{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

<section class="ftco-appointment" id="registration">
  <div class="overlay"></div>
  <div class="container-wrap">
    <div class="row no-gutters d-md-flex align-items-center">
      <div class="col-md-6 d-flex align-self-stretch img" style="background-image: url({% static 'images/about-7.jpg' %});">
      </div>
      <div class="col-md-6 appointment">
        <h3 class="mb-3">Войти в аккаунт</h3>
        <form method="post" class="appointment-form">
          {% csrf_token %}
          <div class="d-md-flex">
            <div class="form-group">
              {{ loginform.phone }}
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group ml-md-12">
              {{ loginform.password }}
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group ml-md-4">
              <input type="submit" value="Войти" class="btn btn-primary py-3 px-4">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $("#phone").mask("+7(999) 999-9999");
</script>

{% endblock %}