{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-image: url('{{ article.article_image.url }}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-3 bread">{{ article.title }}</h1>
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/index.html">Главная</a></span>
          <span class="mr-2"><a href="/blog.html">Блог</a></span>
          <span>{{ article.title }}</span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        {{ article.body|safe }}
      </div> <!-- .col-md-8 -->
      {% include "shared/blog_menu.html" %}
    </div>
  </div>
</section> <!-- .section -->
{% endblock %}