{% load static %}

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Наши спонсоры</h3>
        <h2 class="mb-1">и партнёры</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          {% for partner in partners %}
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="text">
                  <div class="d-flex align-items-center">
                    <div>
                      <a href="{{ partner.partner_link }}" target="_blank"><img src="{{ partner.partner_logo.url }}"></a>
                    </div>
                    <div class="ml-4">
                      <p class="name">{{partner.partner_name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>