{% load static %}
<!-- PAGE | CLIENTS -->
    <div class="pages page-clients" id="page-clients">
      <div class="container">
          <h4 class="line-divider-inline center">Наши партнёры</h4>
          
          <div class="row-fluid">
              <div class="span2 center">
                  <a href="http://veloclubnn.ru" target="_blank"><img src="{% static '/images/clients/velo_nn.jpg' %}" alt="Велоклуб"></a>
              </div> 
              <div class="span2 center">
                  <a href="https://www.velostrana.ru/" target="_blank"><img src="{% static '/images/clients/velostrana.png' %}" alt="ВЕЛОСТРАНА.РУ"></a>
              </div>

              <div class="span2 center">
                  <img src="{% static '/images/clients/01.png' %}" alt="Treble">
              </div>
              <div class="span2 center">
                  <img src="{% static '/images/clients/01.png' %}" alt="Treble">
              </div>
              <div class="span2 center">
                  <img src="{% static '/images/clients/01.png' %}" alt="Treble">
              </div>
              <div class="span2 center">
                  <img src="{% static '/images/clients/01.png' %}" alt="Treble">
              </div>
          </div>
           
          <!-- Short text related to client's -->
          <div class="row-fluid">
              <div class="span8 offset2 center smallFontBy08">
                  <p>
                  <strong>
                      Приглашаем организации стать нашими партнерами в проведении Открытого велопробега «Дорога Минина-2019».
                  </strong>
                  </p>
                  <p>
                  <strong>
                      Подробности по телефону 8-920-293-10-50
                  </strong>
                  </p>

                  <p>
                  <strong>
                      Взносы за участие в велопробеге принимаются On-line на расчётный счёт ООО "Фирма "Контакт",<br> ИНН 5260251943, юридический адрес: г. Н. Новгород, ул. Дальняя, 17А
                  </strong>
                  </p><br>
                  <p>
                      <a href="https://money.yandex.ru" target="_blank">
                          <img src="https://money.yandex.ru/img/yamoney_logo88x31.gif" 
                        alt="Я принимаю Яндекс.Деньги" 
                        title="Я принимаю Яндекс.Деньги" border="0" width="88" height="31"/>
                      </a>
                  </p>
                  <p>
                      Яндекс.Деньги – доступный и безопасный способ платить за товары и услуги через интернет. 
Пополнение счета и оплата заказов происходят в реальном времени 
<a href="http://money.yandex.ru/" target="_blank">на сайте платежной системы</a>.
                  </p>
              </div>
          </div>
      </div>
  </div>
  <!-- END PAGE | CLIENTS -->

  <!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=24487394&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24487394/3_0_FFFFFFFF_F5F5F5FF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24487394,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
  (w[c] = w[c] || []).push(function() {
      try {
          w.yaCounter24487394 = new Ya.Metrika({id:24487394,
                  webvisor:true,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true});
      } catch(e) { }
  });

  var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
  s.type = "text/javascript";
  s.async = true;
  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

  if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
  } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24487394" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<!-- /Yandex.Metrika counter -->