{% load static %}

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Наши спонсоры</h3>
        <h2 class="mb-1">и партнёры</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="{% static 'images/partners/velo_nn.jpg' %}">
                  </div>
                  <div class="ml-4">
                    <p class="name">Вело-НН</p>
                    <span class="position">Велоклуб</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="{% static 'images/partners/nnov.png' %}">
                  </div>
                  <div class="ml-4">
                    <p class="name">Правительство Нижегородской области</p>
                    <span class="position"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="{% static 'images/partners/lukoil.jpg' %}">
                  </div>
                  <div class="ml-4">
                    <p class="name">Лукойл</p>
                    <span class="position">Компания</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>