{% load static %}
<!-- PAGE | Registration -->
    <div class="pages black-bg white page-contact" id="page-registration">
      <div class="container">
          {% if not request.user.is_authenticated %}
          <!-- Header -->
          <header>
              <h4 class="line-divider">Регистрация на велопробег</h4>
              <h1>Регистрация открыта!</h1>
              <h4 class="red">По всем вопросам регистрации на велопробег обращайтесь по телефону 8-920-293-10-50</h4>
              <div class="row">
                  <div class="span8 offset2">
                      <p>
                          По всем вопросам обращайтесь по телефону 8-920-293-10-50  с 10:00 до 20:00.
                          <br>
                          Внимание! К участию в велопробеге допускаются лица достигшие 18-ти лет.
                          <br>
                          <strong class="red">Стоимость участия в велопробеге - 750 рублей.</strong>
                      </p>
                  </div>
              </div>
          </header>
          <!-- End Header -->
          
          <!-- Start Article -->
          <article>
              <div class="row-fluid">

                  <!-- Contact form -->
                      {% include "shared/register.html" %}

                  <!-- Contact information -->
                  <div class="span5 offset1">
                      <h5 class="red">Внимание!</h5>
                      <div class="media">
                          <div class="social-icons sicon-white pull-left smallFontBy08" style="line-height: 120%;">
                              В этом году вновь действует услуга доставки Вас и вашего велосипеда от конечной точки маршрута (ж/д Ильиногорск до одной из точек Нижнего Новгорода:  пл. Минина - ТЦ Индиго, ДК ГАЗ - Щербинки-2 - ост. Дворец Спорта.
                          </div>
                      </div>
                      <h5 class="red">Контакты организаторов</h5>
                      <div class="media">
                          <div class="social-icons sicon-white pull-left">
                              <a href="#" class="sicon-phone"><i>Телефон</i></a>
                          </div> 
                          <div class="media-body smallFontBy08">
                              8-920-293-10-50  с 10:00 до 20:00
                          </div>
                      </div>
                      <div class="media">
                          <div class="social-icons sicon-white pull-left">
                              <a href="#" class="sicon-mail"><i>Email</i></a>
                          </div> 
                          <div class="media-body smallFontBy08">
                              doroga_minina@mail.ru
                          </div>
                      </div>

                      <br/>
                      <br/>
                      <br/>
                      <h5>Социальные вкладки</h5>
                          {% include "shared/social.html" %}
                  </div>
                  <!-- End Contact information -->
              </div>
          </article>
          <!-- End Article -->
          
          {% else %}
                     
          <header>
              <h4 class="line-divider">Вы уже зарегистрировались</h4>
              <div class="row">
                  <div class="span8 offset2">
                      <p>
                          <%= link_to "Зайти в личный кабинет", current_user, :class => "btn" %>
                      </p>
                  </div>
              </div>
          </header>

              
           {% endif %}
      </div>
      
      <!-- Background map image -->
      <div id="map-image">
          <img src="{% static 'images/map_bck.jpg' %}" alt="Treble">
      </div>
  </div>
  <!-- END PAGE | CONTACT -->