{% load static %}
<!-- PAGE | Registration -->
    <div class="pages black-bg white page-contact" id="page-registration">
      <div class="container">
          <!-- Header -->
          <header>
              <h4 class="line-divider">Добро пожаловать!</h4>
               <h1>Регистрация на XIV велопробег "Дорога Минина" закрыта.</h1>
              <div class="row">
                  <div class="span8 offset2">
                      <p>
                          По всем вопросам Вы можете обращаться по телефону 8-920-293-10-50 с 10:00 до 20:00.
                      </p>
                  </div>
              </div>
          </header>
          <!-- End Header -->


      </div>
      
      <!-- Background map image -->
      <div id="map-image">
          <img src="{% static '/images/map_bck.jpg' %}" alt="Treble">
      </div>
  </div>
  <!-- END PAGE | CONTACT -->